section.banner 
  .container
    .section__title 
      h2.title tag your photos with #HAPPYPOINTS and #HAMSA TECHNOLOGIES
  .container-fluid
    .section__content 
      .row.justify-content-center
        .col-12.col-xs-6.col-sm-4.col-md-1-of-5.no-pd 
          +banner-item('assets/images/banner-1.jpg')
        .col-12.col-xs-6.col-sm-4.col-md-1-of-5.no-pd
          +banner-item('assets/images/banner-2.jpg')
        .col-12.col-xs-6.col-sm-4.col-md-1-of-5.no-pd
          +banner-item('assets/images/banner-3.jpg')
        .col-12.col-xs-6.col-sm-4.col-md-1-of-5.no-pd
          +banner-item('assets/images/banner-4.jpg')
        .col-12.col-xs-6.col-sm-4.col-md-1-of-5.no-pd
          +banner-item('assets/images/banner-5.jpg')