header.header
  .container
    +menu('main-nav__links',[
      {
        link: '#',
        title: 'NEW ARRIVALS'
      },
      {
        link: '#',
        title: 'BOOTS'
      },
      {
        link: '#',
        title: 'FLATS'
      },
      {
        link: '#',
        title: 'HEELS'
      },
      {
        link: '#',
        title: 'SANDALS'
      },
      {
        link: '#',
        title: 'SNEAKERS'
      },
      {
        link: '#',
        title: 'SALE'
      },
      {
        link: '#',
        title: 'VIEW ALL'
      },
      {
        link: '#',
        title: 'story'
      },
    ], 'nav__link')