/* === BEGIN VARIABLES SCSS === */

/* =====  Typography  ===== */
$font-size-s: 11px;
$font-size-m: 14px;
$font-size-l: 17px;
$font-size-xl: 20px;
$heading-font-size: 50px;

/* =====  Colors  ===== */
$body_color: #000;
$background-primary: #fff;

/* =====  Button  ===== */
$btn-primary--bg: #000;
$btn-primary--color: #fff;
$btn-primary--border-color: #161616;

$btn-secondary--bg: #fff;
$btn-secondary--color: #232323;
$btn-secondary--border-color: #161616;